<div class="container">

<footer class="footer">

<small>

From <a href="http://iugmali.com">iugmali.com</a>

by <a href="#">@iugmali</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>

 